# Dependências
node_modules/
.pnp
.pnp.js

# Ambientes
.env
.env.*
!.env.example

# Build
www/
dist/
build/
.history/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ionic
.angular/
.ionic/
.sass-cache/
.sourcemaps/
.tmp/

# Backend
**/migrations/*.js
!**/migrations/*.ts
**/seeds/*.js
!**/seeds/*.ts
ormconfig.json

# Sistema
.DS_Store
Thumbs.db
